.container {
	position: relative;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-buttons-block {
	margin-top: 20px;
	margin-bottom: 100px;
	display: flex;
	justify-content: end;

	& button {
		margin-right: 10px;
	}
}

