<div class="backdrop-new is-hidden">
  <div class="modal-new">
    <form action="#" id="add-form" class="add-form">
      <label>
        Category
        <select name="category">
          <option value="Task" selected>Task</option>
          <option value="Idea">Idea</option>
          <option value="Random Thought">Random Thought</option>
        </select>
      </label>
      <label>
        Note
        <textarea name="content" rows="8"></textarea>
      </label>
      <button type="submit">Add note</button>
      <button type="button" class="modal-new__close">Cancel</button>
    </form>
  </div>
</div>
